body{
    background: #ffe4b8;
}
h1{
    text-align: center;
    font-size: 40px;
    color:#e7e4d5;
}
p{
    text-align: center;
    font-size: 30px;
    color: #dad1a6;
}
img{
    width: 300px;
    margin-left: 100px;
}

.cabecalho{
background-color: bisque(71,117,223);
display: flex;
}
.logocabecalho{
    width: 100px;
}
.lista_cabecalho{
    display: flex;
    margin-left: 500px;
}
.item_lista_cabecalho{
    color: #d3c8b4;
    list-style:none ;
    text-transform: uppercase;
    font-size: 10px;
    padding: 5px;
}
